<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <components>
    <component id="ProvinceSvr" type="FES.Component.Implemente.ProvinceService, FES.Component" service="FES.Component.Interface.IProvinceService, FES.Component" lifetime="Singleton" />
    <component id="UniversityrankingSvr" type="FES.Component.Implemente.UniversityrankingService, FES.Component" service="FES.Component.Interface.IUniversityrankingService, FES.Component" lifetime="Singleton" />
    <component id="UserSvr" type="FES.Component.Implemente.UserService, FES.Component" service="FES.Component.Interface.IUserService, FES.Component" lifetime="Singleton" />
    <component id="ProductA" type="FES.Component.Implemente.ProductA, FES.Component" service="FES.Component.Interface.IProduct, FES.Component" lifetime="Singleton" />
    <component id="ProductB" type="FES.Component.Implemente.ProductB, FES.Component" service="FES.Component.Interface.IProduct, FES.Component" lifetime="Singleton" />
    <component id="ProductC" type="FES.Component.Implemente.ProductC, FES.Component" service="FES.Component.Interface.IProduct, FES.Component" lifetime="Singleton" >
      <parameters>
      </parameters>
    </component>
  </components>
</configuration>